@import 'Variables.scss';

.education {
    background-color: $bg-education;
    position: relative;

    &__container {
        align-items: center;
        display: flex;
        margin: auto;
        padding: 7rem 3rem;
        max-width: 1200px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }

    &__title {
        width: 100%;
        margin-bottom: 4rem;
        color: $black;
        font-size: $title-size;
        position: relative;

        &::after {
            content: '';
            width: 6rem;
            height: .3rem;
            background-color: $main-color;
            position: absolute;
            top: 4rem;
            left: 0;
        }
    }

    &__college {
        width: 100%;
        border-bottom: .1rem solid $gray;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        padding-top: 3rem;

        @media (min-width: 1024px) {
            width: 35%;
            border-bottom: 0;
            border-right: .1rem solid $gray;
            margin-bottom: 0;
            padding-right: 3rem;
        }

        &-item {
            margin-bottom: 3rem;
            display: flex;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-place {
            width: 60%;
        }
    }

    &__duration {
        width: 40%;
        font-weight: 700;
        font-size: $p-size;
    }

    &__career {
        font-weight: 700;
        font-size: $p-size;
    }

    &__name {
        font-size: $p-size;
    }

    &__courses {
        width: 100%;

        @media (min-width: 1024px) {
            width: 60%;
            padding-left: 4rem;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            @media (min-width: 768px) {
                width: 50%;

                &:nth-child(odd) {
                    padding-right: 2rem;
                }
            }
        }

        &-icon {
            margin-right: 1rem;
        }

        &-name {
            font-weight: 700;
            font-size: $p-size;
            margin-bottom: .5rem;
        }

        &-platform {
            font-size: $p-size;
        }
    }
}