@import 'Variables.scss';

.experience {
    background-color: $bg-education;
    position: relative;

    &__container {
        align-items: center;
        display: flex;
        margin: auto;
        padding: 7rem 3rem;
        max-width: 1200px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }

    &__title {
        width: 100%;
        margin-bottom: 4rem;
        color: $black;
        font-size: $title-size;
        position: relative;

        &::after {
            content: '';
            width: 6rem;
            height: .3rem;
            background-color: $main-color;
            position: absolute;
            top: 4rem;
            left: 0;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 3rem;

        @media (min-width: 1024px) {
            width: 45%;
            margin-bottom: 0;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__list {
        width: 100%;

        @media (min-width: 1024px) {
            width: 55%;
            padding-left: 2rem;
        }
    }

    &__item {
        margin-bottom: 4rem;
        display: flex;
        align-items: flex-start;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__duration {
        width: 40%;
        font-weight: 700;
        font-size: $p-size;
    }

    &__place {
        width: 60%;
    }

    &__company {
        font-weight: 700;
        font-size: $p-size;
    }

    &__position {
        font-size: $p-size;
    }
}