@import 'Variables.scss';

.paint {
    background-color: $main-color;
    position: relative;
    z-index: 5;

    &__container {
        align-items: center;
        display: flex;
        margin: auto;
        padding: 7rem 3rem;
        max-width: 1200px;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }

    &__title {
        width: 100%;
        color: $white;
        font-size: $title-size;
        position: relative;
        margin-bottom: 3rem;

        @media (min-width: 1024px) {
            width: 80%;
            margin-bottom: 0;
        }
    }

    &__button {
        background-color: $white;
        color: $main-color;
        padding: 1.5rem 3rem;
        border-radius: .1rem;
        font-size: $p-size;
        font-weight: 600;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &__anchor {
        background-color: $main-color;
        position: fixed;
        right: 0;
        bottom: 4rem;
        padding: 1rem 3rem 1rem 1.5rem;
        border-radius: 2rem 0 0 0;
        z-index: 2;
    }

    &__icon {
        fill: $white;
        width: 3.5rem;
        height: auto;
    }
}