$main-color:                    #ea8f14;
$black:                         #000000;
$white:                         #ffffff;
$gray:                          #999999;

$bg-dates:                      #101010;
$bg-education:                  #F3F3F3;


$title-size:                      2.5rem;
$subtitle-size:                   1.8rem;
$p-size:                          1.1rem;